html,body{
	font-size: 13px;
}
body{
	background: #FCFCFC url(http://semantic-ui.com/images/bg.jpg) repeat;
}

.header{ width: 100%; }
.header > .container{ width: 1100px; margin: 0 auto; }
.main.container{width: 1100px; margin: 0 auto;  padding-top: 60px;}
.ui.items > .item{ min-height: 150px;}
#top_list .description{ max-height: 60px;overflow: hidden; text-overflow: ellipsis; }
#doc_detail p{margin: 1em 0em;}
.description{word-wrap:break-word;}
.footer.ui.horizontal.list{text-align: center; display: block;}