               <form class="ui form segment" action="<?php url('doc','insert');?>" method="POST">
              
      <div class="field">
        <label>名称</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="名称" name="name">
          <i class="sun icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>

            <div class="field">
        <label>作者</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="作者" name="author">
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>

      <div class="field">
        <label>类别</label>
<div class="ui selection dropdown">
  <input type="hidden" name="type_id" value="<?php echo $type_list[0]['id'];?>" >
  <div class="text"><?php echo $type_list[0]['name'];?></div>
  <i class="dropdown icon"></i>
  <div class="menu">
      <?php foreach ($type_list as $key => $value) { ?>
    <div class="item" data-value="<?php echo $value['id'];?>"><?php echo $value['name'];?></div>
      <?php } ?>
  </div>
</div>
      </div>
        <div class="field">
    <label>描述</label>
    <textarea name="description"></textarea>
  </div>

  <div class="field">
<div class="ui checkbox">
  <input type="checkbox" name="published" checked="checked" value="1">
  <label>是否发布</label>
</div>
  </div>


  <div class="field">
    <label>文件列表</label>
    <div class="ui list segment" id="file_list">
 

    </div>
  </div>

        <div class="field">
        <label>文件上传</label>
        <div class="ui left labeled icon input">
          <input type="file" placeholder="文件上传" name="file" id="file">
          
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>
      
       

      <div class="ui blue submit button">保存</div>
    </form>
