<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>pqframe</title>
        <?php
        Page::importCommonCSS('reset,common');
        Page::import('semantic/css/semantic.min.css');
        Page::import('uploadify/uploadify.css');
        Page::importCSS('style');
        ?>

    </head>

    <body>
        <div class="header ui fixed transparent red inverted main menu">
            <div class="container">
                <a class="blue item">李丹的小书柜</a>
 
 <div class="right menu">
    <a href="#" class="item">注销</a>
    <a class="item">帮助</a>
  </div>
            </div>
        </div>
        <div class="main container">
            <div class="ui grid">
              <div class="five wide column">
              <div class="ui vertical red menu">

  <div class="item">
    <i class="home icon"></i> 主页

  </div>
  <a class="item active">
    <i class="grid layout icon"></i> 文档管理
  </a>
  <a class="item">
    <i class="mail icon"></i> 文档类别管理
  </a>

</div>
              </div>

              <div class="eleven wide column">
                <form class="ui form segment" action="<?php url('doc','update');?>" method="POST">
              <input type="hidden"  name="id" value="<?php echo $data['id'];?>">
      <div class="field">
        <label>名称</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="名称" name="name" value="<?php echo $data['name'];?>">
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>

      <div class="field">
        <label>类别</label>
<div class="ui selection dropdown">
  <input type="hidden" name="type_id" value="<?php echo $data['type_id'];?>" >
  <div class="text"><?php echo $types[$data['type_id']];?></div>
  <i class="dropdown icon"></i>
  <div class="menu">
      <?php foreach ($types as $key => $value) { ?>
    <div class="item" data-value="<?php echo $key;?>"><?php echo $value;?></div>
      <?php } ?>
	 
  </div>
</div>
      </div>
        <div class="field">
    <label>描述</label>
    <textarea><?php echo $data['description'];?></textarea>
  </div>

  <div class="field">
<div class="ui checkbox">
  <input type="checkbox" name="published" <?php if($data['published'] == '1') echo 'checked';?> value="1">
  <label>是否发布</label>
</div>
  </div>

  <div class="field">
<label>文件列表</label>
    <div class="ui list segment" id="file_list">
      <?php foreach ($attachs as $key => $value) { ?>
      <div class="item">
        <input type="hidden" name="files[]" value=" <?php echo $value['id'];?>" />
        <i class="delete link icon"></i>
        <a class="header" href="<?php echo $value['url'];?>">
          
          <?php echo $value['name'];?>
        </a>
      </div>
      <?php } ?>
    </div>
  </div>


        <div class="field">
        <label>文件上传</label>
        <div class="ui left labeled icon input">
          <input type="file" placeholder="文件上传" name="file" id="file">
          
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>

      <div class="ui blue submit button">提交</div>
    </form>

              </div>


            </div>
        </div>
    </body>
</html>
    <?php
        Page::importCommonJS('jquery');
        Page::import('semantic/javascript/semantic.min.js');
        Page::import('uploadify/jquery.uploadify.min.js');
        Page::importJS('main');
    ?>
        <script type="text/javascript">
 
            $("#file").uploadify({
                'swf': '<?php Page::$config['common_dir'];?>/uploadify/uploadify.swf',
                'uploader': '<?php url('doc','uploadBCS');?>',

                'onUploadSuccess' : function(file, data, response) {
                      data = jQuery.parseJSON(data);
                      if(data.state == 'success')
                      {
                        var html = '<div class="item">';
                        html += '<input type="hidden" name="files[]" value="'+data.data.id+'" />'
                        html += '<i class="delete link icon"></i>'
                        html += '<a class="header" href="'+data.data.url+'">'
                        html += data.data.name

                        html += '</a>'
                        html += '</div>'
                        $("#file_list").append(html);
                      } 
              }
            });
 
    </script>