 <form class="ui form segment" method="POST" action="<?php url('docType','update');?>">
      <div class="field">
        <label>名称</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="名称" name="name" value="<?php echo $data['name'];?>">
          <input type="hidden"  name="id" value="<?php echo $data['id'];?>">
          <i class="folder icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>


    


      <div class="ui blue submit button">保存</div>
   </form>