<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>pqframe</title>
        <?php
        Page::importCommonCSS('reset,common');
        Page::import('semantic/css/semantic.min.css');
        Page::import('uploadify/uploadify.css');
        Page::importCSS('style');
        ?>

    </head>

    <body>
        <div class="header ui fixed transparent red inverted main menu">
            <div class="container">
                <a class="blue item"><?php echo Config::get('APP_NAME');?></a>
 
 <div class="right menu">
    <a href="#" class="item">注销</a>
    <a class="item">帮助</a>
  </div>
            </div>
        </div>
        <div class="main container">
            <div class="ui grid">
              <div class="four wide column">
              <div class="ui vertical red menu" id="menu">

  <a class="item" href="<?php url('index');?>"  data-value="index">
    <i class="home icon"></i> 主页

  </a>
  <a class="item" href="<?php url('doc');?>" data-value="doc">
    <i class="grid layout icon" ></i> 文档管理
  </a>
  <a class="item" href="<?php url('docType');?>" data-value="docType">
    <i class="mail icon"></i> 文档类别管理
  </a>

</div>
              </div>

              <div class="twelve wide column">
             

                  <?php  include Page::$page["main"];?>
              </div>


            </div>
        </div>
    </body>
</html>
    <?php
        Page::importCommonJS('jquery,browser');
        Page::import('semantic/javascript/semantic.min.js');
        Page::import('uploadify/jquery.uploadify.min.js');
        Page::importJS('main');
    ?>
            <script type="text/javascript">
 
            $("#file").uploadify({
                'swf': '<?php echo Page::$config['common_dir'];?>/uploadify/uploadify.swf',
                'uploader': '<?php url('attach','uploadBCS');?>',
                'onUploadSuccess' : uploadKit.onUploadSuccess,
                'fileTypeExts' : '*.doc; *.docx; *.txt; *.pdf; *.rar; *.zip; *.md; *.markdown'
            });
      $('#file_list').delegate('i','click',function(){
                var $item = $(this).closest('div.item');
                var id = $item.data('value');
                var url = '<?php url('attach','delete');?>&id=' + id;
                uploadKit.deleteItem($item,url);    
        });
            var params = browser.getUrlParms();

            $("#menu a").each(function(){
                if($(this).data('value') == params.c) $(this).addClass('active');
            })
 
    </script>